.plants{
    padding: 40px;
    h3{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 50px;

    }

}
.actions{
    /* background-color: red;    */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    input{
        border-radius: 8px;
        width: 300px;
        font-size: 30px;
    }
}
.sorts{
    display: flex;
    gap: 20px;
}
.sort{
    border: 2px dotted green;
    color: green;
    border-radius: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    h5{
        font-size: 30px;
    }
}

.products{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    /* background-color: red; */
}
.product{
    p{
        font-size: 30px;
        color: green;
    }
}
.basket-icon{
    border: none;
    /* background-color: green; */
    color: rgb(101, 101, 3);
    font-size: 30px;
    background: none;

}
.cart-buttons{
    display: flex;
    gap: 20px;
    /* background-color: red; */
    width: 100px;
    align-content: inherit;
    justify-content: center;
}
.detail-icon{
    border: none;
    /* background-color: green; */
    color: blue;
    font-size: 30px;
    background: none;
}
.sort-btn{
    border: none;
    background: none;
    font-size: 30px;
    color: green;
}

@media screen  and (max-width:768px){
    .plants{
        display: flex;
        flex-direction: column;
    }
   .sorts{
    display: flex;
    flex-direction: column;
   }
    
   .product{
    /* background-color: red; */
    img{
        display: block;
        /* width: 100px;
        height: 100px; */
    }
   }
   .products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
   }
}
.sort{
    transition: all 0.3s ease;
}
.sort:hover{
    background-color: green;
    button{
        color: black;
    }
}